<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>@!Model.RoomName</title>
    <script src="/Scripts/jquery-1.7.2.min.js"></script>
    <script src="/Scripts/underscore.min.js"></script>
    <script src="/Scripts/backbone.min.js"></script>
    <script src="/Scripts/backbone.marionette.min.js"></script>
    <script src="/Scripts/fullcalendar.min.js"></script>
    <script src="/Scripts/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!-- <link id="vgrid" rel="stylesheet" type="text/css" href="http://basehold.it/24" /> -->

    <script type="text/javascript">
        var Convenus = {
            room: '@Model.Room',
            roomName: '@Model.RoomName',
            refreshInterval: @Model.RefreshInterval,
            companyName: '@Model.CompanyName'
        };
    </script>

</head>

    <body>

        <div id="room-info"></div>

        <div class="lower">
            <div class="left">
                <div class="reservation-area" id="reservation-area"></div>
                <div class="other-availability" id="other-availability"></div>
            </div>
            <div class="right">
                <div class="day-view" id="day-view"></div>
            </div>
        </div>

    </body>

    <script id="room-availability-template" type="text/template">
        <h2 class="room-name"><%= RoomName %></h2>
        <h1><%= IsAvailableDescription %></h1>
        <h2 class="until"><%= StateUntilTime %></h2>
    </script>

    <script id="reservation-area-template" type="text/template">
        <% if(HasCurrentMeeting) { %>
            <div class="current-meeting">
                <p>Current Meeting</p>
                <strong><%= CurrentMeetingName %></strong>
            </div>

        <% } else if(!HasNextMeetingWithin15Min) { %>

            <div class="reserve-room">

                <p>Reserve this Room</p>

                <div class="reservation-buttons">

                    <button class="btn" data-duration="15">15 minutes</button>

                    <% if(!HasNextMeetingWithin30Min){ %>
                        <button class="btn" data-duration="30">30 minutes</button>
                    <% } %>

                    <% if(!HasNextMeetingWithin60Min){ %>
                        <button class="btn" data-duration="60">60 minutes</button>
                    <% } %>

                </div>

            </div>

        <% } else { %>
            <p>&nbsp;</p>
        <% } %>
    </script>

    <script id="other-availability-template" type="text/template">
        <% if(!IsAvailable) { %>
            <div class="other-available">
            <p>Other Available Rooms</p>
            <ul>
                <% _.each(AvailableRooms, function(room){ %>
                    <li><%= room.Name %></li>
                <% }); %>
            </ul>
            </div>

        <% } %>
    </script>

    <script src="/js/RoomModel.js"></script>
    <script src="/js/AvailabilityView.js"></script>
    <script src="/js/ReservationAreaView.js"></script>
    <script src="/js/DayView.js"></script>
    <script src="/js/OtherRoomAvailabilityView.js"></script>

    <script type="text/javascript">

        var pageReloadInterval = 4 * 60 * 60 * 1000; //4hr

        function fetchRoom(room) {
            room.fetch().always(function (data, textStatus) {
                var pingInterval = Convenus.refreshInterval * 1000;

                if (textStatus == 'error') {
                    if (data.statusText == 'Forbidden') {
                        //auth issue
                        //TODO: display note to user
                    } else {
                        //probably connection issue or server down
                        //TODO: display note to user
                    }
                    //increase ping interval so we hammer server less in error scenarios
                    pingInterval = pingInterval * 5;
                } else {
                    //check if room occupied
                    //then retrieve other available rooms and bind to that view
                }

                window.setTimeout(function() {
                    fetchRoom(room);
                }, pingInterval);
            });
        }

        var app = new Backbone.Marionette.Application();
        app.addRegions({
            roominfo: '#room-info',
            reservationarea: '#reservation-area',
            wholedayview: '#day-view',
            otheravailability: '#other-availability'
        });
        app.addInitializer(function(options) {
            var availView = new AvailabilityView({model:options.room});
            app.roominfo.show(availView);

            var reservationView = new ReservationAreaView({ model: options.room });
            app.reservationarea.show(reservationView);

            var dayView = new DayView({ model: options.room });
            app.wholedayview.show(dayView);

            var otherRoomsView = new OtherRoomAvailabilityView({ model: options.room });
            app.otheravailability.show(otherRoomsView);
        });

        $(function() {
            var room = new RoomModel({ id: Convenus.room });
            app.start({room:room});

            fetchRoom(room);

            //reload the whole page everyonce in a while
            window.setTimeout(function() {
                window.location.reload(true);
            }, pageReloadInterval);
        });

    </script>
</html>