// Reset
@import 'scss/reset';

// Bourbon & Neat
@import 'bourbon';
@import 'neat';

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,700);

// Partials
@import 'scss/variables-mixins';
@import 'scss/buttons';
@import 'scss/override';


// Base & Typography
// ********************************

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: $norm;
    color: $dark;
    line-height: $v_ratio;
    font-size: 100%;
}

strong, b {
    font-weight: $bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $norm;
}

p {
    @include typo(p);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: $xbold;
    @include typo(1);
    @include rem(padding-bottom, 1);
    color: $white;

    .available & {
        background-color: $green;
    }

    .unavailable & {
        background-color: $red;
    }

    .pending-occupied & {
        background-color: $orange;
    }
}

h2 {
    text-align: center;
    background-color: $gray-light;
    font-weight: $bold;
    color: $white;
    @include typo(2);

    &.room-name {
        font-weight: $norm;
        @include rem(padding-top, 0.5);
        @include rem(padding-bottom, 0.5);
    }

    &.until {
        @include rem(padding-top, 0.5);
        @include rem(padding-bottom, 0.5);

        .available & {
            color: $green;
        }

        .unavailable & {
            color: $red;
        }

        .pending-occupied & {
            color: $orange;
        }
    }

    .available &.room-name {
        background-color: $green;
    }

    .unavailable &.room-name {
        background-color: $red;
    }

    .pending-occupied &.room-name {
        background-color: $orange;
    }
}

h3 {
    @include typo(3);
    @include rem(padding-bottom, 1);
}

h4 {
    @include typo(4);
}


// Specifics
// ********************************

.lower {
    @include row;

    @include respond(6) {
        @include rem(padding, 1);
    }

}

.left {
    @include span-columns(6);
}

.right {
    @include span-columns(6);
    @include omega;
}

.day-view {
    border: 1px solid $gray-med;
    border-radius: 2px;
    @include rem(padding-right, 0.5);
    @include rem(padding-left, 0.5);
    @include rem(padding-bottom, 0.5);
}

.reservation-buttons {

    @include row;

    button {
        width: 100%;
        display: block;
        @include row;
        @include rem(margin-bottom, 1);
    }

}

.current-meeting,
.other-available {
    border: 1px solid $gray-med;
    color: $gray-dark;
    border-radius: 2px;
    @include rem(padding, 0.5);
    @include rem(margin-bottom, 1);

    li {
        font-weight: $bold;
    }
}

.timeline {
    position: absolute;
    border-top: 2px solid $red;
    border-bottom: 2px solid $red;
    margin: 0;
    z-index: 100;
}