// Reset
@import 'scss/reset';

// Bourbon & Neat
@import 'bourbon';
@import 'neat';

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,700);

// Partials
@import 'scss/variables-mixins';
@import 'scss/buttons';
@import 'scss/override';


// Base & Typography
// ********************************

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: $norm;
    color: $white;
    line-height: $v_ratio;
    font-size: 100%;
    background-color: $base;
}

strong, b {
    font-weight: $bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $norm;
}

p {
    @include typo(p);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: $xbold;
    @include typo(1);
    color: $white;

    .available & {
        background-color: $success;
    }

    .unavailable & {
        background-color: $error;
    }

    .pending-occupied & {
        background-color: $warning;
    }
}

h2 {
    text-align: center;
    font-weight: $bold;
    color: $white;
    @include typo(2);
    @include rem(line-height, 3);

    &.room-name {
        font-weight: $norm;
    }

    &.until {
        @include rem(padding-bottom, 0.5);

        .available & {
            background-color: $success;
        }

        .unavailable & {
            background-color: $error;
        }

        .pending-occupied & {
            background-color: $warning;
        }
    }

    .available &.room-name {
        background-color: $success;
    }

    .unavailable &.room-name {
        background-color: $error;
    }

    .pending-occupied &.room-name {
        background-color: $warning;
    }
}

h3 {
    @include typo(3);
    @include rem(padding-bottom, 1);
}

h4 {
    @include typo(4);
}


// Specifics
// ********************************

.lower {
    @include row;

    @include respond(6) {
        @include rem(padding, 1);
    }

}

.left {
    @include span-columns(6);
}

.right {
    @include span-columns(6);
    @include omega;
}

.day-view {
    background-color: $base-2;
    border-radius: 2px;
    color: $base-9;
    @include rem(padding-right, 0.5);
    @include rem(padding-left, 0.5);
    @include rem(padding-bottom, 0.5);
}

%widget {
    background-color: $base-2;
    color: $base-9;
    border-radius: 2px;
    @include rem(margin-bottom, 1);
    @include clearfix;

    p {
        @include typo(4);
        @include rem(padding, 0.5);
        text-transform: uppercase;
        font-weight: normal;
        background-color: $base-3;
        border-bottom: 1px solid $base-4;
        border-radius: 2px 2px 0 0;
    }

    strong {
        display: block;
        @include typo(4);
        @include rem(padding, 0.5);
    }

    li {
        font-weight: $bold;
        border-bottom: 1px solid $base-3;
        @include typo(4);
        @include rem(padding, 0.5);

        &:last-child {
            border-bottom: none;
        }
    }

}

.current-meeting,
.other-available {
    @extend %widget;
}

.reserve-room {
    @extend %widget;

    button {
        width: 100%;
        display: block;
        @include rem(margin-bottom, 1);
    }
}

.reservation-buttons {
    @include rem(padding, 1);
    @include rem(padding-bottom, 0);
}

.timeline {
    position: absolute;
    border: 2px solid $error;
    margin: 0;
    z-index: 100;
}